<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to t(".list_survey_models", :default => "List survey models"), admin_survey_models_path  %></li>
      <li><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_survey_model_surveys_path(@survey_model)  %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
        <h2><%= @survey_model.name %> / <%= @survey.customer.full_name %></h2>
        <% for answer in @survey.survey_answers %>
        <p>
          <b><%= answer.survey_question.question %>:</b>
          <% if answer.answer.class == Array %>
            <%= answer.answer.join(", ")%>
          <% else %>
            <%= answer.answer %>
          <% end %>
        </p>
        <% end %>
    </div>
  </div>
</div>

