<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_banners_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_banner_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_banner_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.banner.name", :default => t("activerecord.labels.name", :default => "name")) %>:</b>
          <%= @banner.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.banner.banner_file_name", :default => t("activerecord.labels.banner_file_name", :default => "banner file name")) %>:</b>
          <%= @banner.banner_file_name %>
        </p>


        <p>
          <b><%= t("activerecord.attributes.banner.banner_type_id", :default => t("activerecord.labels.banner_type_id", :default => "banner type")) %>:</b>
          <%= @banner.banner_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.banner.banner_placement_id", :default => t("activerecord.labels.banner_placement_id", :default => "banner placement")) %>:</b>
          <%= @banner.banner_placement %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.banner.target_url", :default => t("activerecord.labels.target_url", :default => "target url")) %>:</b>
          <%= @banner.target_url %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.banner.is_active", :default => t("activerecord.labels.is_active", :default => "is active")) %>:</b>
          <%= @banner.is_active %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "edit")}") + " " + t("web-app-theme.edit", :default=> "edit"), edit_admin_banner_path(@banner), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "delete")}") + " " + t("web-app-theme.delete", :default => "delete"), admin_banner_path(@banner), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>