<%= form_for([:admin, @brand]) do |f| %>
  <%= render :partial => '/admin/shared/form_errors', :locals=>{:f=>f} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
