<h1>Listing brands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.name %></td>
    <td><%= brand.slug %></td>
    <td><%= link_to 'Show', [:admin, brand] %></td>
    <td><%= link_to 'Edit', edit_admin_brand_path(brand) %></td>
    <td><%= link_to 'Destroy', [:admin, brand], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brand', new_admin_brand_path %>
