<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_brands_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_brand_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t('groovy_cart.modules.brands') %></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.brand.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @brands.each do |brand| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= brand.id %>
          </td>
                    <td>
            <%= link_to brand.name, admin_brand_path(brand) %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_brand_path(brand) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_brand_path(brand) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_brand_path(brand), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
