<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_banner_placements_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_banner_placement_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_banner_placement_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_banner_placement.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @banner_placement.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_banner_placement.identifier", :default => t("activerecord.labels.identifier", :default => "Identifier")) %>:</b>
          <%= @banner_placement.identifier %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_banner_placement_path(@banner_placement), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_banner_placement_path(@banner_placement), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>