<div class="block notice">
  <h3>Order state</h3>
  <ul class="navigation">
    <li class="current_state"><a href="#"><%= @order.state %></a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>

<div class="block notice">
  <h3><%= t('activerecord.attributes.order.billing_address')%></h3>
  <div class="content">
    <p>
      <%= @billing_address.full_name %><br>
      <%= @billing_address.street %><br >
      <%= @billing_address.zip_code %> <%= @billing_address.city %><br>
      <%= @billing_address.country %><br>
    <br>
      <%= @billing_address.phone %><br>
      @: <%= @billing_address.email %>
    </p>
  </div>
</div>

<div class="block notice">
  <h3><%= t('activerecord.attributes.order.shipping_address')%></h3>
  <div class="content">
    <p>
      <%= @shipping_address.full_name %><br>
      <%= @shipping_address.street %><br >
      <%= @shipping_address.zip_code %> <%= @shipping_address.city %><br>
      <%= @shipping_address.country %>
    </p>
  </div>
</div>
