<div class="block notice">
  <h3><%= t('.order_state') %></h3>
  <ul class="navigation">
    <li class="current_state"><a href="#"><%= t('.current_state') %>: <%= t('order.states.'+@order.state.to_s) %></a></li>
    <% for e in Order.state_machines[:default].events_for(@order.state.to_sym).reverse %>
      <li><%= link_to t('order.events.'+e.to_s), change_state_admin_order_path(@order, :new_state=>e) %></li>  
    <% end %>

  </ul>
</div>

<div class="block notice">
  <h3><%= t('activerecord.attributes.order.billing_address')%></h3>
  <div class="content">
    <p>
      <%= @billing_address.full_name %><br>
      <%= @billinrg_address.street %><br >
      <%= @billing_address.zip_code %> <%= @billing_address.city %><br>
      <%= @billing_address.country %><br>
    <br>
      <%= @billing_address.phone %><br>
      @: <%= @billing_address.email %>
    </p>
  </div>
</div>

<div class="block notice">
  <h3><%= t('activerecord.attributes.order.shipping_address')%></h3>
  <div class="content">
    <p>
      <%= @shipping_address.full_name %><br>
      <%= @shipping_address.street %><br >
      <%= @shipping_address.zip_code %> <%= @shipping_address.city %><br>
      <%= @shipping_address.country %>
    </p>
  </div>
</div>
