<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_orders_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_order_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Orders</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first"><%= sort_link @search, :id, 'ID' %></th>
          <th>
            <%= sort_link @search, :total_value, t("activerecord.attributes.order.total_value", :default => t("activerecord.labels.total_value", :default => "Total value")) %>
          </th>
          <th>
            <%= sort_link @search, :state, t("activerecord.attributes.order.state", :default => t("activerecord.labels.state", :default => "State")) %>
          </th>
          <th>
            <%= sort_link @search, :first_name, t("activerecord.attributes.order.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) %>
          </th>
          <th>
            <%= sort_link @search, :last_name, t("activerecord.attributes.order.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) %>
          </th>
          <th><%= sort_link @search, :created_at, t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @orders.each do |order| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= order.id %>
          </td>
          <td>
            <%= link_to order.total_value, admin_order_path(order) %>
          </td>
          <td>
            <%= order.state %>
          </td>
          <td><%= order.first_name %></td>
          <td><%= order.last_name %></td>
          <td>
            <%= order.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_order_path(order) %> |
            <%#= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_order_path(order) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_order_path(order), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'index_sidebar') -%>
