<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_orders_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_order_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_order_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.order.total_value", :default => t("activerecord.labels.total_value", :default => "Total value")) %>:</b>
          <%= @order.total_value %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.state", :default => t("activerecord.labels.state", :default => "State")) %>:</b>
          <%= @order.state %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.items_value", :default => t("activerecord.labels.items_value", :default => "Items value")) %>:</b>
          <%= @order.items_value %>
        </p>

        <p>
          <b><%= t(".shipping", :default => "Shipping") %>:</b>
          <%= @order.shipping_method %> (<%= @order.shipping_cost %>)
        </p>

        <p>
          <b><%= t(".payment_gateway", :default => "Payment gateway") %>:</b>
          <%= @order.payment_gateway %> (<%= @order.payment_cost %>)
        </p>

        <table class="table">
        <tr>
          <th>
            <%= t("activerecord.attributes.order_item.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.order_item.sku", :default => "SKU") %>
          </th>
          <th>
            <%= t("activerecord.attributes.order_item.item_price", :default => "Item price") %>
          </th>
          <th>
            <%= t("activerecord.attributes.order_item.quantity", :default => "Quantity") %>
          </th>

          <th>
            <%= t("activerecord.attributes.order_item.item_value", :default => "Item value") %>
          </th>
        </tr>
        <% @order.order_items.each do |oi| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= oi.product.blank? ? oi.name : link_to(oi.name, admin_product_path(oi.product)) %>
          </td>
          <td>
            <%= oi.sku %>
          </td>
          <td>
            <%= oi.item_price %>
          </td>
          <td>
            <%= oi.quantity %>
          </td>
          <td>
            <%= oi.item_value %>
          </td>

        </tr>
        <% end -%>
      </table>

        <p>
          <b><%= t("activerecord.attributes.order.client_ip", :default => t("activerecord.labels.client_ip", :default => "Client ip")) %>:</b>
          <%= @order.client_ip %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_order_path(@order), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_order_path(@order), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>