<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_categories_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_category_path %></li>
      <li class=""><%= link_to "#{t("web-app-theme.reorder", :default => "Reorder")}", reorder_admin_categories_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t('groovy_cart.modules.categories') %></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.category.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.category.parents_path", :default => t("activerecord.labels.parents_path", :default => "parents_path")) %>
          </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @categories.each do |category| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= category.id %>
          </td>
          <td>
            <%= link_to category.name, admin_category_path(category) %>
          </td>
          <td>
            <%= category.ancestors.join(' > ') %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_category_path(category) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_category_path(category) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_category_path(category), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
