<%= form_for [:admin, @product], :html => { :class => :form, :multipart=>true } do |f| -%>
  <% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      <% product_variation = @product.product_variations.new %>
      nested_forms['product_variation'] = "<%= generate_template(f, :product_variations, :object=>product_variation) %>";
    });
  </script>
  <% end %>
  <div class="group">
    <%= f.label :name, t("activerecord.attributes.product.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.product.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :brand_id, t("activerecord.attributes.product.brand_id", :default => "Brand"), :class => :label %>
    <%= f.select :brand_id, [['']] | Brand.all.map{|b| [b.name, b.id]}, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :price, t("activerecord.attributes.product.price", :default => "Price"), :class => :label %>
    <%= f.text_field :price, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :price_promo, t("activerecord.attributes.product.price_promo", :default => "Price promo"), :class => :label %>
    <%= f.text_field :price_promo, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

	<div class="group">
    <%= f.label :categories, :class=>"label" %>
    <%= f.select :category_ids, Category.all.map{|b| [b.name, b.id]}, {}, {:multiple=>true} %>
  </div>

  <div class="group">
    properties
    <ul>
    <%= f.fields_for :properties do |fp| %>
      <%= render :partial=>"property", :locals=>{:f=>fp} %>
    <% end %>
    </ul>
  </div>

  <div class="group">
    option groups
    <ul>
    <% for og in OptionGroup.all %>
      <li><%= check_box_tag 'product[option_group_ids][]', og.id, f.object.option_groups.member?(og) %><label><%= og.name %></label></li>
    <% end %>
    </ul>
  </div>

  <div class="group">
  	<ul id="product_variations_fields" style="clear: both;">
      <% seq = 0 %>
      <%= f.fields_for :product_variations do |fpv| %>
        <%= render :partial=>"product_variation", :locals=>{:f=>fpv, :seq=>seq}%>
        <% seq += 1 %>
      <% end %>
    </ul>
    <a name="product_variation"></a>
    <%= link_to '+ Add product variation', '#product_variation', :class => "add_nested_item", :rel => "product_variation" %><br />
  </div>


        
  <div class="group navform wat-cf">
    <button class="button" type="submit">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
    </button>
    <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
    <%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_products_path, :class => "text_button_padding link_button" %>
  </div>
<% end %>