<table class="photo nested_table">
  <tr>
    <td class="width_70px">
      <%= image_tag f.object.photo(:thumb) unless f.object.new_record? %>
      <%= f.hidden_field :id, :class=>"partial_id" %>
      <%= f.hidden_field :product_id %>
    </td>
    <td class="width_50">
      <%= f.label :photo,  t("activerecord.attributes.photo.photo", :default => 'Photo'), :class=>"label"%>
      <%= f.file_field :photo %>
    </td>
    
    <% unless @product.options.empty? %>
      <td>
        <%= f.label :option_id, t("activerecord.attributes.photo.option_id", :default => "Option"), :class=>"label"  %>
        <%= f.select :option_id, option_groups_from_collection_for_select_with_empty(@product.option_groups, :options, :name, :id, :name, f.object.option_id) %>
      </td>
      <td>
        <%= f.label :is_primary_for_option, t("activerecord.attributes.photo.is_primary_for_option", :default => "Primary for option"), :class=>"label" %>
        <%= f.check_box :is_primary_for_option %>
      </td>
    <% end %>
    <td colspan="2" class="destroy_row">
      <%= f.label :_destroy, t('groovy_cart.common.destroy') %>
      <%= f.check_box :_destroy, :class=>'destroy_nested', 'data-selector'=>'li.photo'%>
    </td>
  </tr>
</table>