<div class="block notice">
  <h3><%= t('.create_new_from_template') %></h3>
  <ul class="navigation">
    <% for pt in ProductType.all %>
      <li><%= link_to pt.name, new_admin_product_path(:product_type=>pt.id) %></li>
    <% end %>
  </ul>
</div>

<div class="block">
  <h3><%= t('.products_properties') %></h3>
  <ul class="navigation">
    <li><%= link_to t('groovy_cart.modules.product_types'), admin_product_types_path %></li>
    <li><%= link_to t('groovy_cart.modules.option_groups'), admin_option_groups_path %></li>
  </ul>
</div>