<h1>Category: <%= @category.name %></h1>

<h2>Child categories</h2>
<ul>
  <% for c in @child_categories -%>
    <li><%= link_to c.name, c %></li>
  <% end %>
</ul>

<h2>Products</h2>
<ul>
  <% for p in @products %>
    <li><%= link_to p.name, product_path(p) %></li>
  <% end %>
</ul>

<h2>Brand</h2>
<ul>
  <% for b in @brands %>
    <li><%= link_to b, b %> <%= link_to "in this category", category_path(@category, :brand=>b.to_param) %></li>
  <% end %>
</ul>