<%= render :partial=>"variation_javascript" %>


<h1>Product <%= @product.name %></h1>


<h2>Add to cart</h2>
<%= form_tag add_product_to_cart_path, :id=>"add_to_cart" do -%>
  <%= hidden_field_tag :variation_id, ''%>
  <%= hidden_field_tag :product_id, @product.id%>
  <% for og in @option_groups %>
    <label for="<%= og.slug %>-select"><%= og.name %>:</label>
    <select id="<%= og.slug %>-select" class="variation_select">
      <% for o in og.options.ordered.available_for_product(@product) %>
        <% if @product.option_groups.count > 1 or @product.variation_available_for_option(o) %>
          <option value="<%= o.id %>">
            <%= o.name %>
          </option>
        <% end %>
      <% end %>
    </select>
  <% end %>
  <input type="submit" />
<% end %>

<h2>Price</h2>
<span id="product_price"><%= @product.get_price %></span>
