<!DOCTYPE html>
<html>
<head>
  <title>Groovy Cart</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", 'jquery.ketchup', 'jquery-ui-1.8.7.custom', :cache => true %>
  <%= javascript_include_tag 'jquery/jquery.min.js', 'jquery/jquery.ketchup', 'jquery/jquery.ketchup.helpers', 'jquery/jquery.ketchup.validations', 'jquery/jquery-ui-1.8.7.custom.min', 'rails', 'application', 'admin', :cache => true %>
  <%= csrf_meta_tag %>
  <%= yield(:head) || "" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      <%= yield(:body_onload) || "" %>
      $('form').ketchup();
    });
  </script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Groovy Cart</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to t('groovy_cart.modules.admins'), admin_admins_path %></li>
          <li><%= link_to t("web-app-theme.settings", :default => "Settings"), admin_setting_path %></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_admin_session_path %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="<%= controller.controller_path == 'admin/brands' ? 'active' : '' %>"><a href="<%= admin_brands_path %>"><%= t('groovy_cart.modules.brands') %></a></li>
          <li class="<%= controller.controller_path == 'admin/categories' ? 'active' : '' %>"><a href="<%= admin_categories_path %>"><%= t('groovy_cart.modules.categories') %></a></li>
          <li class="<%= controller.controller_path == 'admin/products' ? 'active' : '' %>"><a href="<%= admin_products_path %>"><%= t('groovy_cart.modules.products') %></a></li>
          <li class="<%= controller.controller_path == 'admin/banners' ? 'active' : '' %>"><a href="<%= admin_banners_path %>"><%= t('groovy_cart.modules.banners') %></a></li>
          <li class="<%= controller.controller_path == 'admin/pages' ? 'active' : '' %>"><a href="<%= admin_pages_path %>"><%= t('groovy_cart.modules.pages') %></a></li>
          <li class="<%= controller.controller_path == 'admin/orders' ? 'active' : '' %>"><a href="<%= admin_orders_path %>"><%= t('groovy_cart.modules.orders') %></a></li>
          <li class="<%= controller.controller_path == 'admin/survey_models' ? 'active' : '' %>"><a href="<%= admin_survey_models_path %>"><%= t('groovy_cart.modules.survey_models') %></a></li>

        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Groovy Cart.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
