<!DOCTYPE html>
<html>
<head>
  <title>GroovyCart</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery/jquery.min', 'application', 'rails', 'groovy_cart' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) || "" %>
  <script type="text/javascript">
    $(document).ready(function(){
      <%= yield(:body_onload) || "" %>
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
